@page "/about"

 

            <!-- About Start -->
            <div class="about">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="img/IMG_5845.png" alt="IMG_5845" class="rounded img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header">
                                <h2>Servx auto</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    Orice se strica la masina ta, noi suntem aici sa o reparam. Oferim si servicii de tractări și remorcări auto pentru orice tip de autovehicul: autoutilitare, autoturisme, autovehicule de transport marfă. Trebuie doar să ne contactezi și în 30 de minute ajungem la tine!
                                </p>
                                <p>
                                    Iar de piese nu-ti face griji!<br>
Avem un depozit vast cu piese provenite din Germania in stare noua dar si second-hand la preturi pe scara larga. <br>
Toate astea doar pentru tine si masina ta!
                                </p>
                                <a class="btn" href="service">Vrei sa aflii mai multe?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Timeline Start -->
            <div class="timeline">
                <div class="container">
                    <div class="section-header">
                        <h2>Cum a aparut Servx</h2>
                    </div>
                    <div class="timeline-start">
                        <div class="timeline-container left">
                            <div class="timeline-content">
                                <h2><span>1990</span>"La garage"</h2>
                                <p>
                                   Un mic garaj, foarte putine instrumente de lucru si 2 frati pasionati de masini si-au pus cunostiintele impreuna si au inceput cu schimbatul rotilor, filtrelor si al uleiului.
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container right">
                            <div class="timeline-content">
                                <h2><span>2000</span>10 ani mai tarziu</h2>
                                <p>
                                    Aceasta mica afacere s-a dezvoltat atat de mult incat fondatorii au inchiriat o hala, au dotat-o cu cele mai de calitate aparate incat a ajuns cel mai popular service auto datorita serviciilor complexe.
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container left">
                            <div class="timeline-content">
                                <h2><span>2010</span>"La garage" se redenumeste "Servx"</h2>
                                <p>
                                    Dupa 20 de ani, firma isi schimba numele in "Servx" si se proclama PUNCT PRINCIPAL DE SERVICII AUTO, ulterior Germania face contracte cu Servx pentru import-export piese auto.
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container right">
                            <div class="timeline-content">
                                <h2><span>2015</span>Servx devine brand national</h2>
                                <p>
                                    Cunoscut ca servicii de calitate superioara, Servx apare in majoritatea judetelor din Romania. 
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container left">
                            <div class="timeline-content">
                                <h2><span>2020</span>Tesla service</h2>
                                <p>
                                    Servx face contract cu Tesla, si, pentru prima data in Romania apare service-ul specializat dedicat Tesla.
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container right">
                            <div class="timeline-content">
                                <h2><span>2021</span>Servx transport</h2>
                                <p>
                                    Servx fondeaza propria firma de transport, achizitioneaza cateva camioane si asigura aprovizionarea depozitelor Servx.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Timeline End -->


            <!-- Team Start -->
            <div class="team">
                <div class="container">
                    <div class="section-header">
                        <h2>Profesionistii companiei Servx</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/img/20689996_1107989699337032_7718523303557950208_o.jpg" alt="Team Image" class="img-fluid rounded">
                                </div>
                                <div class="team-text">
                                    <h2>Mario Suciu</h2>
                                    <p>Mecanic specialist</p>
                                    <div class="team-social">
                                        <a class="social-fb" href="https://www.facebook.com/mario.suciu.58"><i class="fab fa-facebook-f"></i></a>
                                        
                                        <a class="social-in" href="https://www.instagram.com/suciu_mario/"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/img/93381627_1431594137049398_5788732551904362496_o.jpg" alt="Team Image" width="400" height="500" class="img-fluid rounded">
                                </div>
                                <div class="team-text">
                                    <h2>Florin Trut</h2>
                                    <p>Electrician</p>
                                    <div class="team-social">
                                       
                                        <a class="social-fb" href="https://www.facebook.com/FlorinTrutJunior"><i class="fab fa-facebook-f"></i></a>
                                       
                                        <a class="social-in" href="https://www.instagram.com/florintrut0/"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/img/vio.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Roman Viorel</h2>
                                    <p>Manager achizitii</p>
                                    <div class="team-social">
                                        
                                        <a class="social-fb" href="https://www.facebook.com/viorel.roman.1420"><i class="fab fa-facebook-f"></i></a>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/img/diana.jpg" alt="" width="6002" height="4004" class="img-fluid rounded">
                                </div>
                                <div class="team-text">
                                    <h2>Diana Raluca</h2>
                                    <p>Coordonator activitate</p>
                                    <div class="team-social">
                                        <a class="social-fb" href="https://www.facebook.com/dia.raluca16"><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-in" href="https://www.instagram.com/florintrut0/"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team End -->


         