@page "/blog"

<div class="blog"> 
    <div class="container">
        <div class="section-header">
             <h2>Servx in Romania</h2>
        </div>
        <div class="row blog-page">
            <div class="col-lg-4 col-md-6 blog-item">
                <img src="/img/Bucuresti.jpg" alt="harti">
                 <h3>Strada Luica, București</h3>
                 <div class="meta">
                                <i class="fa fa-list-alt"></i>
                              <a href="https://www.google.com/maps/place/Strada+Luica,+Bucure%C8%99ti/44.377564,26.0993912,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1fe2386ee81c1:0x83da61480585af13!8m2!3d44.3775602!4d26.1015799">Indicatii</a> 

                                <i class="fa fa-calendar-alt"></i>
                                <p>18-12-2017</p>
                </div>
                            <p>
                            Luni-Vineri <br>
								08:00-17:00
                            </p>
            </div>
            <div class="col-lg-4 col-md-6 blog-item">
                            <img src="/img/Cluj.jpg" alt="cluj">
                            <h3>Strada Câmpului, Cluj</h3>
                            <div class="meta">
                                <i class="fa fa-list-alt"></i>
                             <a href="https://www.google.com/maps/place/Strada+C%C3%A2mpului,+Cluj-Napoca/46.7450916,23.5673989,17z/data=!3m1!4b1!4m5!3m4!1s0x47490e772e580df1:0xe822ad370f6fafe3!8m2!3d46.7450879!4d23.5695876">Indicatii</a> 
                                <i class="fa fa-calendar-alt"></i>
                                <p>03-06-2018</p>
                            </div>
                            <p>
                                Luni-Vineri <br>
								08:00-17:00
                            </p>
                        
                        </div>
                        <div class="col-lg-4 col-md-6 blog-item">
                        <img src="/img/Iasi.jpg" alt="Blog">
                        <h3>Strada Vasile Lupu, Iași</h3>
                            <div class="meta">
                                <i class="fa fa-list-alt"></i>
                            <a href="https://www.google.com/maps/place/Strada+Vasile+Lupu,+Ia%C8%99i/47.1580232,27.6118151,17z/data=!3m1!4b1!4m5!3m4!1s0x40cafb8d227544a7:0x683949c16992e7fc!8m2!3d47.1580196!4d27.6140038">Indicatii</a> 
                                <i class="fa fa-calendar-alt"></i>
                                <p>05-08-2018</p>
                            </div>
                        <p>
                                 Luni-Vineri <br>
								08:00-17:00
                          </p>
					</div>
                    <div class="col-lg-4 col-md-6 blog-item">
                            <img src="/img/Timisoara.jpg" alt="Blog">
                            <h3>Strada 1 Decembrie 1918, Timisoara</h3>
                            <div class="meta">
                                <i class="fa fa-list-alt"></i>
                          <a href="https://www.google.com/maps/place/Strada+1+Decembrie+1918,+Timi%C8%99oara/45.7446895,21.2376022,17z/data=!3m1!4b1!4m5!3m4!1s0x47455d8e51db46a9:0x6416ecd8d3dac0ad!8m2!3d45.7446858!4d21.2397909">Indicatii</a> 
                                <i class="fa fa-calendar-alt"></i>
                                <p>08-09-2005</p>
                            </div>
                            <p>
                                Luni-Vineri <br>
								08:00-17:00
                            </p>
                            
                        </div>
                        <div class="col-lg-4 col-md-6 blog-item">
                            <img src="/img/Arad.jpg" alt="Blog">
                            <h3>Strada Moraviei, Arad</h3>
                            <div class="meta">
                                <i class="fa fa-list-alt"></i>
                              <a href="https://www.google.com/maps/place/Strada+Moraviei+26,+Arad/46.1922227,21.3420964,17z/data=!3m1!4b1!4m5!3m4!1s0x474599c85cb1bbab:0x367bc8ec9b1fb598!8m2!3d46.192219!4d21.344285">Indicatii</a> 
                                <i class="fa fa-calendar-alt"></i>
                                <p>04-05-1990</p>
                            </div>
                            <p>
                                Luni-Vineri <br>
								08:00-17:00
                            </p>
                         
                        </div>
        </div>
    </div>
</div>