@page "/service"

  <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Zona servicii</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Acasa</a>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header">
                        <h2>Ce oferim noi</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <div>
                                    
                                </div>
                                <h3>Mecanica</h3>
                                <p>
                                    Interventii la blocul motor si toate componentele acestuia.
                                </p>
                              
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <div>
                                    <i class="fa"></i>
                                </div>
                                <h3>Electronica</h3>
                                <p>
                                   Depistarea problemelor electrice a componentelor auto si repararea/inlocuirea acestora
                                </p>
                              
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <div>
                                    <i class="fa"></i>
                                </div>
                                <h3>Verificari directie</h3>
                                <p>
                                    Verificarea tehnica a directiei si/sau adjustarea ei
                                </p>
                               
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <div>
                                    <i></i>
                                </div>
                                <h3>Vulcanizare</h3>
                                <p>
                                    Schimbare pneuri, de-jantare, ajustare presiune atmosferica.
                                </p>
                               
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <div>
                                    <i></i>
                                </div>
                                <h3>Vopsitorie</h3>
                                <p>
                                    Corectura zgarieturi, vopsire auto totala/partiala.
                                </p>
                               
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <div>
                                    <i></i>
                                </div>
                                <h3>Analiza/tuning</h3>
                                <p>
                                    Testare auto fizica+software<br>
                                    Soft tuning
                                </p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service End -->
            
            
            <!-- Feature Start -->
            <div class="feature">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="section-header">
                                <h2>Ce ai de castigat?</h2>
                            </div>
                            <div class="row align-items-center feature-item">
                                <div class="col-5">
                                   
                                </div>
                                <div class="col-7">
                                    <h3>Servicii de calitate</h3>
                                    <p>
                                        Masina ta va avea parte de cel mai bun serviciu din partea noastra datorita expertilor si a aparatelor de top.
                                    </p>
                                </div>
                            </div>
                            <div class="row align-items-center feature-item">
                                <div class="col-5"> </div>
                                <div class="col-7">
                                    <h3>Eficient si rapid</h3>
                                    <p>
                                        In maxim 30 de minute de la momentul receptionarii masinii tale in service-ul nostru, expertii iti vor aduce mai multe solutii pentru masina ta. 
                                    </p>
                                </div>
                            </div>
                            <div class="row align-items-center feature-item">
                                <div class="col-5"> </div>
                                <div class="col-7">
                                    <h3>Serviciu garantat</h3>
                                    <p>
                                        Ai fost la noi cu o problema si aceasta desi a fost rezolvata, persista? Ne cerem scuze si te asteptam la noi sa o facem cu prioritate si gratuit!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="feature-img">
                                <img src="/img/mecanic poza.png" alt="Feature">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End -->


            <!-- Newsletter Start -->
            <div class="newsletter">
                <div class="container">
                    <div class="section-header">
                        <h2>Aboneaza-te si primesti noutati</h2>
                    </div>
                    <div class="form">
                        <input class="form-control" placeholder="Email-ul tau">
                        <button class="btn">Trimite</button>
                    </div>
                </div>
            </div>
            <!-- Newsletter End -->