            <!-- Footer Start -->
           <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-about">
                                <h2>Despre noi</h2>
                                <p>
                                    Service auto<br>
									Service tunning<br>
									Dezmembrari auto<br>
                                    Magazin piese auto noi<br>
                                    Magazin piese auto second hand
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                        <div class="col-md-6 col-lg-4">
                          <div class="footer-link">
                                <h2>Localizare service</h2>
                                <a href="https://www.google.com/maps/place/Strada+Luica,+Bucure%C8%99ti/44.377564,26.0993912,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1fe2386ee81c1:0x83da61480585af13!8m2!3d44.3775602!4d26.1015799">Bucuresti</a>
                              
                                <a href="https://www.google.com/maps/place/Strada+1+Decembrie+1918,+Timi%C8%99oara/45.7446895,21.2376022,17z/data=!3m1!4b1!4m5!3m4!1s0x47455d8e51db46a9:0x6416ecd8d3dac0ad!8m2!3d45.7446858!4d21.2397909">Timisoara</a>
                                <a href="https://www.google.com/maps/place/Strada+Vasile+Lupu,+Ia%C8%99i/47.1580232,27.6118151,17z/data=!3m1!4b1!4m5!3m4!1s0x40cafb8d227544a7:0x683949c16992e7fc!8m2!3d47.1580196!4d27.6140038">Iasi</a>
                                <a href="https://www.google.com/maps/place/Strada+C%C3%A2mpului,+Cluj-Napoca/46.7450916,23.5673989,17z/data=!3m1!4b1!4m5!3m4!1s0x47490e772e580df1:0xe822ad370f6fafe3!8m2!3d46.7450879!4d23.5695876">Cluj</a>
                                <a href="https://www.google.com/maps/place/Strada+Moraviei+26,+Arad/46.1922227,21.3420964,17z/data=!3m1!4b1!4m5!3m4!1s0x474599c85cb1bbab:0x367bc8ec9b1fb598!8m2!3d46.192219!4d21.344285">Arad</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>Meniu</h2>
                                <a href="about">Despre noi</a>
                                <a href="contactl">Contact</a>
                                <a href="index">Index</a>
                                <a href="service">Service</a>
                                <a href="team">Echipa</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-contact">
                                <h2>Contact</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Arad, Str. Moraviei 26</p>
                                <p><i class="fa fa-phone-alt"></i>0722668998</p>
                                <p><i class="fa fa-envelope"></i>justme.floryn@gmail.com</p>
                                <div class="footer-social">
                                   
                                    <a href="https://www.facebook.com/FlorinTrutJunior"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.youtube.com/channel/UCrFkksRVUSWsvGdHP0TBNuw"><i class="fab fa-youtube"></i></a>
                                    <a href="https://www.instagram.com/florintrut0/"><i class="fab fa-instagram"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="container footer-menu">
                    <div class="f-menu">
                               <a href="/" class="nav-item nav-link">Acasa</a>
                                
                               
                              
                             
								
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="/">Servx</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://www.facebook.com/FlorinTrutJunior">Florin Trut</a></p>
                        </div>
                    </div>
                </div>
            </div>