
               <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <h1>Servx</h1>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="top-bar-right">
                                <div class="text">
                                    <h2>8:00 - 17:00</h2>
                                    <p>Luni - Vineri</p>
                                </div>
                                <div class="text">
                                    <h2>0722 668 998</h2>
                                    <p>Interventie rapida</p>
                                </div>
                                <div class="social">
                               <a href="https://www.facebook.com/FlorinTrutJunior/"><i class="fab fa-facebook-f"></i></a>
                                 <a href="https://www.instagram.com/florintrut0/"><i class="fab fa-instagram"></i></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <NavLink href="#" class="navbar-brand">MENIU</NavLink>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <NavLink class="nav-item nav-link" href="" ActiveClass="active" Match="NavLinkMatch.All">Acasa</NavLink>
                                 <NavLink class="nav-item nav-link" href="/reservation" ActiveClass="active">Programare</NavLink>    
                                 <NavLink class="nav-item nav-link" href="/about" ActiveClass="active" Match="NavLinkMatch.All">Despre</NavLink>                     
                                 <NavLink class="nav-item nav-link" href="/service" ActiveClass="active" Match="NavLinkMatch.All">Servicii</NavLink>                    
                                 <NavLink class="nav-item nav-link" href="/blog" ActiveClass="active" Match="NavLinkMatch.All">Blog</NavLink>                              
                                     <NavLink class="nav-item nav-link" href="/contact" ActiveClass="active" Match="NavLinkMatch.All">Contact</NavLink>
                                        <NavLink class="nav-item nav-link" href="/team" ActiveClass="active" Match="NavLinkMatch.All">Echipa</NavLink>                           
                                    
                                
                            </div>
                            <div class="ml-auto">
                             <!--  <a class="btn"  <NavLink class="nav-item nav-link" href="reservation" ActiveClass="active">Programare</NavLink> </a> -->
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->